.container-title{
    border: 2px solid black;
    background-color: rgb(88, 189, 225);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-header{
    margin: 0;

}
